@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #1f4680;
  --color-secondary: #33A1E0;
}

*{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.font-playfair{
    font-family: "Playfair", serif !important;
}